body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

html,body{
  display: block;
}

head{
  display: none;
}

.bg-color{
  background-image: url('https://www.w3schools.com/w3images/underwater.jpg');
  max-width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div{
  display: block;
}

.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border{
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}




  